<p id="notice"><%= notice %></p>

<p>
  <strong>Order num:</strong>
  <%= @order.order_num %>
</p>

<p>
  <strong>Order total:</strong>
  <%= @order.order_total %>
</p>

<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @order.surname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Phone num:</strong>
  <%= @order.phone_num %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @order.city %>
</p>

<p>
  <strong>Postal num:</strong>
  <%= @order.postal_num %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
