<div class="container extra">
  <nav class="navbar navbar-expand-lg navbar-light custom-navbar" style="background-color: #e3f2fd;">
    <%= link_to "Store", root_path, class: "navbar-brand text-primary" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link text-primary" %>
        </li>
        <li class="nav-item">
          <%= link_to "NNN", root_path, class: "nav-link text-primary" %>
        </li>
        <% if customer_signed_in? %>
          <li class="nav-item">
            <%= link_to "Profile", edit_customer_registration_path, class: "nav-link text-primary" %>
          </li>
          <li class="nav-item">
            <%= link_to "Logout", destroy_customer_session_path, method: :delete, class: "nav-link text-primary" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_customer_session_path, class: "nav-link text-primary" %>
          </li>
        <% end %>
      </ul>
      <%= form_tag(root_path, :method => "get", id: "search-form", class: "form-inline my-2 my-lg-0") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control mr-sm-2" %>
        <%= submit_tag "Search", class: "btn btn-outline-success my-2 my-sm-0" %>
      <% end %>
    </div>
  </nav>
  <div class="container custom-container">
    <div class="row">
      <% @items.each do |item| %>
        <div class="col-md-3 col-sm-6 custom-product">
          <div class="product-grid4">
            <div class="product-image4">
              <a href="#">
                <img class="pic-1" src="https://www.mall.cz/i/44694497/1000/1000">
                <img class="pic-2" src="https://www.mall.cz/i/44694498/2000/2000">
              </a>
            </div>
            <div class="product-content">
              <h3 class="title"><%= link_to item.name, item %></h3>
              <div class="price text-primary">
                <%= item.price %>€
              </div>
              <%= link_to "Buy now", "/orders/" + item.id.to_s + "/new", class: "add-to-cart" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= link_to "New Item", new_item_path %>
  </div>
  <br>
</div>
